.bottom-sidebar {
  position: relative;
  display: flex;
  flex: 1 0 100%;
  padding: 15px;
  background-color: #efefef;
  flex-wrap: wrap;
  order: 4;
}

.bottom-sidebar::before {
  position: absolute;
  top: 14px;
  right: 14px;
  bottom: 14px;
  left: 14px;
  content: "";
  background-color: #dddddd;
}

.bottom-sidebar p {
  margin: 0;
  color: #858585;
  line-height: 1.5em;
}

.bottom-sidebar img {
  padding: 0 15px 15px 0;
}

.bottom-sidebar__left {
  position: relative;
  display: flex;
  border: 5px solid #ffffff;
  align-items: flex-start;
}

.bottom-sidebar__right {
  position: relative;
  display: flex;
  border: 5px solid #ffffff;
  align-items: flex-start;
}

@media (min-width: 769px) {
    
  .bottom-sidebar__left {
          flex: 1 0 50%;

      padding: 20px 15px 25px;

      border-right: none;

      -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
  }
  .bottom-sidebar__left::after {
      position: absolute;
      top: 0;
      right: 0;

      height: 100%;

      content: "";

      border-right: 1px solid #dddddd;
  }
  .bottom-sidebar__right {
          flex: 1 0 50%;

      padding: 20px 15px 25px;

      border-left: none;

      -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
  }
}


@media (max-width: 768px) {

  .bottom-sidebar__left {
          flex: 1 0 100%;

      padding: 15px;

      -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
  }
  .bottom-sidebar__right {
          flex: 1 0 100%;

      padding: 15px;

      -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
  }
  .bottom-sidebar__right p {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
  }
  .bottom-sidebar__right img {
      padding: 0 0 15px 15px;

      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
  }