.main {
  background-color: #efefef;
}
.main p {
  text-align: justify;
}

@media (min-width: 769px) {
  .main {
    flex: 1 0 calc(100% - 300px);
    padding: 0 20px 15px 15px;
    order: 3;
  }
}

@media (max-width: 768px) {
  .main {
    flex: 1 0 100%;
    padding: 20px;
    order: 2;
  }
}
